*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #3AA655; 
    --color-success: #00bf8e; 
    --color-warning: #f7c94b;
    --color-danger: #d95333;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #010101;
    --color-bg: #461F00; 
    --color-bg1: #C8A165; 
    --color-bg2: #366d48;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}


.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img{
    display: block;
    object-fit: cover;
}

/*aku ade edit kt button*/
.btn{
    display: inline-block;
    background: transparent;
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 2px solid white;
    font-weight: 600;
}

.btn:hover{
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-black);
}
/*aku ade edit kt button*/

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/*animation*/
.animate {
  opacity: 0;
    transform: translateY(-20%);
    animation: popup 1s ease-in-out forwards;
  }
  @keyframes popup {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


/* ==================================================== NAVBAR ================================================= */
nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* Change navbar styles on scroll using JavScript */
.window-scroll {
    background: var(--color-bg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a{
    font-size: 1rem;
    transition: var(--transition);
}

.nav-menu a:hover{
    color: var(--color-white);
    text-decoration: underline;
}

/*========================================= FOOTER =======================================*/
footer{
  background: var(--color-bg);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer-container > div h4 {
  margin-bottom: 1.2rem;
}

.footer-1 p{
  margin: 0 0 2rem;
}

.footer ul li{
  margin-bottom: 0.7rem;
}

.footer ul li a:hover{
  text-decoration: underline;
}

.footer-socials{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer-copyright{
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}

/*================================ PAGE CONTENT STYLING START HERE =================================*/

main{
    position: relative;
    background-color: #C8A165;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.bg-image {
    background-image: url("./res/table.jpeg");
    background-size: cover; /* adjust image size to cover the entire container */
    background-position: center; /* adjust image position */
    background-repeat: no-repeat; /* prevent image from repeating */
    /* add other styles as needed */
}

.hr{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: solid;
}

.text-center-topic{
    color:rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center !important;
    font-family: 'Satisfy', cursive;
    font-size: 3.8rem;
  }

.text-center{
    color:rgb(255, 255, 255);
    text-align: center !important;
    font-family: 'Quicksand', sans-serif;
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  
  .col {
    text-align: center !important;
    flex: 1 0 0%;
  }

  .col-d-flex {
    display: flex !important;
    justify-content: center;
    align-items: center; /* This will vertically center the button */
    flex: 1 0 0%;  
}
/*irfan*/
.admin {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .admin h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .admin h3 {
    margin-top: 0;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
  
  .admin ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admin ul li {
    margin-bottom: 10px;
  }
  
  .admin ul li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .admin ul li a:hover {
    background-color: #f7f7f7;
  }
  /* CSS for User Management Section */
.user-management-section {
    margin-top: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    color: black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
   /* Styles for the update user form */
.update-user-form {
    color: black;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .update-user-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display:block;
    color: black;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    display: inline;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }

  /* Styles for the delete user form */
.delete-user-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .delete-user-form h2 {
    text-align: center;
  }
  
  .delete-user-form p {
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    display:block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #c82333;
  }
 

  .view-users-linkk.active{
    display: block;
  }
  .view-users-linkk{
    display:block;
  }
  .update-user-form{
    display: none;
  }
  .update-user-form.active{
    display: block;
  }
  .delete-user-form{
    display: none;
  }
  .delete-user-form.active{
    display: block;
  }

/*irfan*/
/*rafiz*/
.wrapper{
  background-color: #fff;
  text-align: justify;
  color: #461F00;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 3px 3px 3px #666666;
}

.box{
  background-color: #ddd;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  float: right;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid #461F00;
  border-top: none;
}

hr{
  background-color: #461F00;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.menubutton{
  display: inline-block;
  background: transparent;
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 2px solid black;
  font-weight: 600;
}

.menubutton:hover{
  background: transparent;
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.menubutton:active{
  background-color: #fbff00;
  color: var(--color-black);
  border-color: var(--color-black);  
}
/*rafiz*/

/*================================ END OF PAGE CONTENT STYLING =====================================*/

/*          MEDIA QUERIES - FOR RESPONSIVE DESIGN BASED ON DEVICE SCREEN                    */
/*================================ MEDIA QUERIES (TABLETS) =================================*/
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    /* ========= NAVBAR =============================================== */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav-menu li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav-menu li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav-menu li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animateNavItems{
        0% {
            transform: rotateZ(-90deg);
        }

        100% {
            transform: rotateZ(0);
            opacity: 1;
        }
    }

    .nav-menu li a{
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav-menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }

    /*==================================== FOOTER =======================================*/
    .footer-container{
      grid-template-columns: 1fr 1fr;
  }
}

/*============================== MEDIA QUERIES (PHONE) =================================*/
@media screen and (max-width: 600px) {
  .container{
      width: var(--container-width-sm);
  }

  /*================================ NAVBAR ======================================*/
  .nav-menu{
      right: 3%;
  }

  /*================================ FOOTER ======================================*/
  .footer-container{
      grid-template-columns: 1fr;
      text-align: center;
      gap: 2rem;
  }

  .footer-1 p{
      margin: 1rem auto;
  }

  .footer-socials {
      justify-content: center;
  }
}