.profile_container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 55vh; 
  }
  
  table {
    border-collapse: collapse; 
  }
  
  td {
    border: none;
    padding: 10px;
  }

  /*  */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    margin-top: 40px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .form-group label {
    width: 100px;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  
  .form-group input {
    width: 200px;
  border-bottom: 1px solid white;
}
  
.form-group .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #ffffff;
  line-height: 57px;
}

  .btn {
    font-size: 20px;
  }
  
  .profile_border{
    position: relative;
    width: 450px;
    height:570px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5) ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}

input[type="password"] {
  border-radius: 5px;
  width: 200px;
  height: 35px;
}

